* {
	box-sizing: border-box;
}
.contauner {
	margin-top: 130px;
	display: flex;
	justify-content: center;
}
[class*="_oll"] {
	background-color: #e3e1e1;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	margin: 30px;
}
[class*="_row"] {
	background-color: black;
	width: 15px;
	height: 15px;
	border-radius: 50px;
}
[class*="cube"] {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.circle1_row {
	align-items: flex-start;
	margin-top: -50px;
}
.circle2_row {
	align-items: flex-end;
	margin-top: 50px;
}
.circle4_row {
	margin: 0px 10px 0px 10px;
}
.circle5_row {
	margin: 0px 10px 0px 10px;
}
.circled_row {
	position: absolute;
}
.circle6_row {
	margin: 0px 10px 0px 10px;
}
